<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Mascotas Fresh</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle m-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-bell"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li *ngFor="let notificacion of notificaciones">
        <tr>
          <th>
            <a class="dropdown-item" href="#"> {{notificacion.nombre}} {{notificacion.ProductoNombre}} {{notificacion.ProductoCantidad}} </a>
          </th>
        </tr>
      </li>
    </ul>
  </div>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="login" *ngIf="!logeado" (click)= "logout()">Sign in</a>
      <a class="nav-link px-3" href="login" *ngIf="logeado" (click)= "logout()">Sign out</a>
    </div>
  </div>
</header>
